body {
  overscroll-behavior-y: none !important;
  overscroll-behavior-x: none !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
}

.app-main-div {
  height: 100vh;
}

.add-a-comment {
  cursor: pointer;
  color: #4da8da !important;
}

.add-a-comment:hover {
  text-decoration: underline !important;
}

.search-clone-card {
  margin-right: auto !important;
  min-width: 100px !important;
  max-width: 400px !important;
  background: #203647 !important;
  border: 1px solid black !important;
}
.follow-seg {
  color: #fff !important;
}
.follow-seg:hover {
  text-decoration: underline !important;
  color: #fff !important;
  cursor: pointer !important;
}

.landing-header-blue {
  color: #4da8da !important;
  font-size: 4rem !important;
}
.landing-header-white {
  color: #fff !important;
  font-size: 4rem !important;
}

.copy-right {
  margin-right: auto !important;
  min-width: 100px !important;
  max-width: 400px !important;
  margin-top: 5px !important;
  padding: 0 !important;
}

.reply-text {
  color: #4da8da !important;
}

.media-right-card {
  min-width: 350px !important;
}

@media screen and (max-width: 1500px) {
  .media-right-card {
    left: 0 !important;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 1275px) {
  .media-right-card {
    display: none !important;
  }
}

.left-menu {
  display: flex !important;
  justify-content: flex-end !important;
  float: right !important;
  box-shadow: none !important;
  border: none !important;
  background: #12232e !important;
  margin-left: auto !important;
  margin-right: 0 !important;
  width: 20rem !important;
}

.menu-icon {
  color: #fff;
}

.disabled-link {
  pointer-events: none;
}

.menu-item {
  font-weight: 700 !important;
  color: #fff !important;
  line-height: 1.28571429em !important;
  font-size: 2rem !important;
  text-transform: none;
}

.menu-item:hover {
  color: #4da8da !important ;
}

.menu-item-active {
  color: #4da8da !important ;
}

.follow-btn {
  transition: 0.4s ease !important;
  cursor: pointer !important;
  background-color: #4da8da !important;
  color: #fff !important;
  overflow: hidden !important;
  box-shadow: 0 0 0 2px black !important;
}
.edit-profile-btn {
  transition: 0.4s ease !important;
  background-color: black !important;
  cursor: pointer !important;
  color: #4da8da !important;
  overflow: hidden !important;
  border: #4da8da solid 1px !important;
}

.follow-btn:hover {
  color: black !important;
}

.edit-profile-btn:hover {
  color: #fff !important;
}

.post-box {
  min-height: 200px;
  max-width: 600px;
  background: #203647 !important;
  border: 1px solid black !important;
}

.profile-box {
  min-height: 300px;
  max-width: 600px;
  cursor: pointer;
  border: 1px solid black !important;
  margin: auto !important;
}

.focus-box {
  max-width: 600px !important;
  min-height: 50px !important;
  background: #203647 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 1px solid black !important;
}

.box-feed-item {
  cursor: pointer;
  background: #203647 !important;
  box-shadow: none !important;
  max-width: 600px !important;
  border: 1px solid black !important;
}
.box-zero-feed {
  background: #203647 !important;
  box-shadow: none !important;
  max-width: 600px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 1px solid black !important;
}
.box-follower-item {
  cursor: pointer;
  background: #203647 !important;
  box-shadow: none !important;
  max-width: 600px !important;
  border: 1px solid black !important;
}

.search-input {
  background-color: #203647 !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}

.box-feed-item:hover {
  border: 1px solid #4da8da !important;
}

.box-btn-heart {
  cursor: pointer;
  background-color: #203647 !important;
  border: none !important;
  box-shadow: none;
  transition: color 0.5s ease;
  color: grey !important;
}

.box-btn-heart:hover {
  color: red !important;
}

.box-btn-comment {
  cursor: pointer;
  border: none !important;
  box-shadow: none;
  transition: color 0.5s ease;
  color: grey;
  background-color: #203647 !important;
}

.box-btn-comment:hover {
  color: #4da8da !important;
}

.mobile-menu {
  box-shadow: none !important;
  border: none !important;
  background: #12232e !important;
  max-width: 10px !important;
  cursor: pointer !important;
}

@media screen and (max-width: 460px) {
  .mobile-menu {
    padding: 0.3px !important;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .landing-header-blue {
    font-size: 3rem !important;
  }
  .landing-header-white {
    font-size: 3rem !important;
  }
}

body::-webkit-scrollbar {
  width: 10px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
